@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Alex+Brush);
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  color: #34495e;
  position: relative;
}

a {
  color: #C97A8F;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a:hover {
  color: #e76c3c;
}
section {
  padding: 20px 0px;
}

@media (min-width: 480px) {
  section {
    padding: 80px 0px;
  }
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.btn {
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
  border-radius: 0;
}
.btn-common {
  background: #3d566e;
  color: #fff;
}
.btn-common:hover {
  background: #C97A8F;
  color: #fff;
}

.title {
  font-family: 'Alex Brush', cursive;
  text-align: center;
  font-size: 4rem;
  color: #34495e;
  margin-top: 0;
}

@media (min-width: 992px) {
  .title {
    font-size: 5rem;
    margin-top: 20px;
  }
}
.subtitle {
  text-align: center;
  font-weight: 100;
  padding-bottom: 15px;
  position: relative;
  color: #C97A8F;
  font-size: 2.2rem;
  margin-top: 0;
  font-style: italic;
}

@media (min-width: 768px) {
  .subtitle {
    font-size: 2.5rem;
  }
}

.detalhe-renda-pequena {
  background: transparent url("../img/renda-branca-pequena.png") repeat-x;
  width: 100%;
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.detalhe-renda-bege-pequena {
  width: 100%;
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background: #f1f1f1 url(../img/renda-bege-pequena.png) repeat-x;
}

/* -------------
    Início
---------------- */
.logo-menu {
  padding-bottom: 50px;
  position: relative;
}

@media (min-width: 1025px) {
  .logo-menu {
    padding-bottom: 55px;
    position: relative;
  }
}

.top {
  padding: 10px 0;
}

.top img {
  margin: 0 auto;
}

.navbar {
  margin-bottom: 0;
  position: absolute;
	left: 0;
	right: 0;
  /* bottom: 0; */
  z-index: 9;
}
.navbar li {
  color: #d1d1d1;
}
.navbar-default {
  border: none;
  border-radius: 0;
  background: url(../img/renda_6.jpg) repeat;
  box-shadow: 0px 0px 3px 0px #afafaf;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: none;
  color: #fff;
}
.navbar-default .navbar-nav li a {
  color: #34495e;
}
.navbar-default .navbar-nav li a:hover{
  color: #fff;
}
.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav li:hover {
  background: #C97A8F;
  padding-bottom: 5px;
  color: #fff;
}
.navbar-default .navbar-brand {
  font-size: 25px;
  color: #fff;
  font-weight: 100;
}
.navbar-default .navbar-brand:hover {
  color: #eee;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #6C7A89;
}

@media (min-width: 768px){
  .navbar-collapse.collapse {
    padding: 0;
  }
}

.navbar-toggle {
  background-color: #C97A8F;
}

@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    float: none;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .navbar-nav>li {
    float: none;
    display: table-cell;
    width: 1%;
  }
  .navbar-nav>li.rsvp-menu {
    width: 3%;
  }
}
@media (min-width:992px) {
  .navbar-nav>li.rsvp-menu {
    width: 2%;
  }
}
.affix {
  background: rgba(233, 232, 230, 0.95);
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: initial;
  position: fixed;
}

/* ----------------
    Apresentação
------------------- */

#apresentacao {
  background-color: #cac2c0;
  border-top: 1px solid #d6d5d2;
  padding: 0;
}

#apresentacao .btn {
  margin-right: 20px;
}
#apresentacao img {
  max-width: 100%;
}
#apresentacao p {
  padding: 50px 0;
}

#apresentacao .carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
#apresentacao .carousel-fade .carousel-inner .item,
#apresentacao .carousel-fade .carousel-inner .active.left,
#apresentacao .carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
#apresentacao .carousel-fade .carousel-inner .active,
#apresentacao .carousel-fade .carousel-inner .next.left,
#apresentacao .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
#apresentacao .carousel-fade .carousel-inner .next,
#apresentacao .carousel-fade .carousel-inner .prev,
#apresentacao .carousel-fade .carousel-inner .active.left,
#apresentacao .carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
#apresentacao .carousel-fade .carousel-control {
    z-index: 2;
}


/* carousel fullscreen */

#apresentacao .carousel-fullscreen .carousel-inner .item {
    height: 72vh; 
    min-height: 400px; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

@media (min-width: 768px) {
  #apresentacao .carousel-fullscreen .carousel-inner .item {
    height: 85vh; 
    min-height: 600px;
  }
}

/* carousel fullscreen - vertically centered caption*/

#apresentacao .carousel-fullscreen .carousel-caption {
    top: 50%;  
    bottom: auto;
    -webkit-transform: translate(0, -50%); 
    -ms-transform: translate(0, -50%); 
    transform: translate(0, -50%);
}

/* overlay for better readibility of the caption  */

#apresentacao .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  transition: all 0.2s ease-out;
}

#apresentacao .super-heading {
  font-size: 40px;
  color: #fff;
}

@media (min-width: 768px) {
  #apresentacao .super-heading {
    font-size: 50px;
    color: #fff;
  }
}

.super-paragraph {
    font-size: 30px; font-weight: 300;
    color: #fff;
}

#apresentacao .carousel-caption .super-paragraph a,
#apresentacao .carousel-caption .super-paragraph a:hover
{
    color: #fff;
}
/* ----------------
    Serviços
------------------- */

#servicos {
  background: #fcfcfc url(../img/renda-bege-pequena.png) repeat-x;
}
#servicos .tipos-eventos {
  margin-top: 0;
  font-size: 20px;
/*   color: #C97A8F; */
}

#servicos .service-item {
  margin: 15px 0 5px;
}

#servicos .service-item img {
  border: 2px solid #dfdedb;
}

/* ----------------
    Fotos
------------------- */
#fotos {
  background: #f1f1f1 url(../img/renda-bege-pequena.png) repeat-x;
}

.frase-efeito {
  font-size: 2rem;
  margin-top: 20px;
}

/*Portfolio Overlay */
.portfolio-item {
  position: relative;
  /* margin-bottom: 15px; */
  border: 1px solid transparent;
}

.portfolio-item img {
  width: 100%;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.portfolio-item:hover .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
}
.portfolio-item .icons .preview {
  position: absolute;
  left: 40%;
  top: 40%;
  color: #fff;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.portfolio-item .icons .preview i {
  color: #C97A8F;
}

/* ----------------
    Depoimentos
------------------- */

#depoimentos {
  background: #BBCFD6 url("../img/depoimentos/bg-depoimentos-mbk.jpg") 0 no-repeat;
  background-size: cover;
  position: relative;
}

/* original solution by https://codepen.io/Rowno/pen/Afykb */

#depoimentos .carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
#depoimentos .carousel-fade .carousel-inner .item,
#depoimentos .carousel-fade .carousel-inner .active.left,
#depoimentos .carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
#depoimentos .carousel-fade .carousel-inner .active,
#depoimentos .carousel-fade .carousel-inner .next.left,
#depoimentos .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
#depoimentos .carousel-fade .carousel-inner .next,
#depoimentos .carousel-fade .carousel-inner .prev,
#depoimentos .carousel-fade .carousel-inner .active.left,
#depoimentos .carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
#depoimentos .carousel-fade .carousel-control {
    z-index: 2;
    background-image: none;
}

#depoimentos .carousel-fade .carousel-control.left:hover {
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,.1) 0,rgba(0,0,0,.0001) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.1) 0,rgba(0,0,0,.0001) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.1)),to(rgba(0,0,0,.0001)));
	background-image: linear-gradient(to right,rgba(0,0,0,.1) 0,rgba(0,0,0,.0001) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	background-repeat: repeat-x;
}

#depoimentos .carousel-fade .carousel-control.right:hover {
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.1) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.1) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.1)));
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
	background-repeat: repeat-x;
}

/* carousel fullscreen */

#depoimentos .carousel-fullscreen .carousel-inner .item {
    height: 70vh; 
    min-height: 550px; 
    background-position: top center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

@media (min-width: 768px) {
  #depoimentos .carousel-fullscreen .carousel-inner .item {
      height: 70vh;
      min-height: 600px;
  }
}

/* carousel fullscreen - vertically centered caption*/

#depoimentos .carousel-fullscreen .carousel-caption {
    top: 50%;  
    bottom: auto;
    -webkit-transform: translate(0, -50%); 
    -ms-transform: translate(0, -50%); 
    transform: translate(0, -50%);
}

/* overlay for better readibility of the caption  */

#depoimentos .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    transition: all 0.2s ease-out;
}

.cliente-perfil {
	width: 140px;
	height: auto;
	border-radius: 80px;
  border: 4px solid #fff;
  margin-bottom: 20px;
}

#depoimentos .carousel-caption {
  text-shadow: none;
  color: inherit;
}

#depoimentos .carousel-caption p {
  font-size: 1.7rem;
}

@media (min-width: 992px) {
  #depoimentos .carousel-caption p {
    font-size: 2rem;
  }
}

.nome-noivos {
  text-transform: uppercase;
  font-weight: bold;
}

p.tipo-evento {
  font-size: 1.3rem;
  color: #777;
}

@media (min-width: 992px) {
  p.tipo-evento {
    font-size: 1.7rem;
  }
}

/* ----------------
    Sobre
------------------- */
#sobre {
  background-image: url(../img/pattern-salmon.png);
  background-repeat: repeat;
  position: relative;
}
#sobre p {
  line-height: 30px;
  font-size: 17px;
}

#sobre .portfolio-item {
  margin: 10px 0 0;
}

@media(min-width: 768px) {
  #sobre .portfolio-item {
    margin: 9px 0;
  }
}

#sobre .portfolio-item img {
  background-color: #eae9e7;
  padding: 10px;
  margin-top: 10px;
}

@media (min-width: 768px) {
  #sobre .portfolio-item img {
    margin-top: 0;
  }
}

/* ----------------
    RSVP
------------------- */
#rsvp {
  background: #fff url(../img/renda-bege-pequena.png) repeat-x;
}

/* ----------------
    Contato
------------------- */
#contato {
  background-image: url(../img/pattern-salmon.png);
  background-repeat: repeat;
  position: relative;
}

@media(min-width:768px) {
  #contato {
    height: 85vh;
    min-height: 600px;
  }
}

#contato ::-webkit-input-placeholder {
  color: #ecf0f1;
}
#contato :-moz-placeholder {
  color: #ecf0f1;
}
#contato ::-moz-placeholder {
  color: #ecf0f1;
}
#contato :-ms-input-placeholder {
  color: #ecf0f1;
}
#contato .social i {
  color: #fff;
  padding: 10px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  background: #34495e;
}
#contato .social .social-links a:hover {
  color: #fff;
}
#contato .social .fa-facebook:hover {
  background: #3b5998;
  color: #fff;
}
#contato .social .fa-twitter:hover {
  background: #00CAFB;
  color: #fff;
}
#contato .social .fa-google-plus:hover {
  background: #D23A1D;
  color: #fff;
}
#contato .social .fa-linkedin:hover {
  background: #007bb6;
  color: #fff;
}
#contato .social .fa-dribbble:hover {
  background: #ea4c89;
  color: #fff;
}
#contato .social .fa-github:hover {
  background: #171515;
  color: #fff;
}
#contato .contact-info {
  margin: 40px 0;
}

@media (min-width: 768px) {
  #contato .contact-info p {
    font-size: 20px;
  }
}

#contato .contact-form .form-control {
  box-shadow: none;
  font-size: 17px;
  margin-bottom: 20px;
  border-radius: 0;
  border: none;
}

/*Scroll Top*/
.to-top {
  position: absolute;
  bottom: 0;
  right: 0;
}

.to-top i {
  padding: 10px 15px;
  margin: 10px;
  background: transparent;
  color: #34495e;
  border: 2px solid #34495e;
}
.to-top i:hover {
  background: #34495e;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#copyright {
  background: #e8e7e6;
  color: #333;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #d6d5d2;
}

#copyright a {
  color: #333;
}

#copyright p {
  margin: 0;
  padding: 0;
}